.Im{
    width: 1920px;
    height: 914px;
    z-index: 0;
}
.Imc{
    width: 800px;
    height: 500px;
}
.CR{
    width:800px;
    height:500px;
    left: 900px;
    top: -650px;
    z-index: 3;
}
.tx{
    font-size: 94px;
    font-family: Impact;
    z-index: 3;
    position: absolute;
    left: 300px;
    top: 150px;
    color: black;
}
.tx1{
    font-size: 94px;
    font-family: Impact;
    z-index: 3;
    position: absolute;
    left: 300px;
    top: 250px;
    color: black;
}
.tx2{
    font-size: 94px;
    font-family: Impact;
    z-index: 3;
    position: absolute;
    left: 300px;
    top: 350px;
    color: black;
}