.SItem{
    margin-top: 20px;
    border-radius: 4px;
    box-shadow: 0 2px 12px #edeff0;
    padding: 15px;
    justify-content: normal;
    border: 1px solid transparent;
    position: relative;
    margin-bottom: 16px;
    display: flex;
    transition: height 1s ease-in,padding-bottom .1s,padding-top .1s;
}
.SItem_layout{
    column-count: 2;
    column-gap: 10px;
    position: relative;
    width: 100%;
}
.SImg {
    display: block;
    width: 350px;
    height: 70px !important;
    margin-bottom: 50px;
    margin-left: 250px;
}
.SBut{
    margin-top: 40px;
    width: 400px;
    margin-left: 220px;
}
